In [154]:
import pandas as pd
import numpy as np

### We have to make sure that there are no duplicate rows, since the API returns 100 random matches. We will drop duplicates

**1. Start by importing the csv file**

In [155]:
#dota_matches = pd.read_csv("~/Dropbox/Dotadata/")
dota_matches = pd.read_csv("../rawdata/1593961990.csv")
dota_matches

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
0,5496093104,4607683105,True,1593702950,2260,5415,7,7,3,80,10,236,121-26-53-106-6,59-114-7-29-64
1,5496093106,4607692069,False,1593702953,2576,3962,4,7,22,80,7,122,34-41-121-35-104,60-42-126-128-7
2,5496093306,4607678647,True,1593702953,1950,3625,1,7,22,80,4,133,7-104-6-79-23,100-126-3-108-1
3,5496095704,4607694805,True,1593703058,2394,7223,3,7,22,80,6,138,22-86-10-69-5,81-66-106-21-120
4,5496102206,4607686366,True,1593703331,1967,5626,5,7,22,80,8,156,41-110-36-13-120,9-14-32-10-53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,5496304611,4607870692,True,1593713670,2342,5070,2,7,22,80,4,182,128-126-120-7-6,110-101-98-44-75
196,5496305107,4607862926,False,1593713696,1857,5882,4,7,22,80,6,122,95-84-86-23-7,77-39-100-67-3
197,5496309100,4607863197,True,1593713921,1656,5660,4,7,3,80,8,236,2-15-101-95-79,56-13-62-28-70
198,5496309107,4607872508,False,1593713932,2205,5750,3,0,22,80,4,132,129-93-36-86-119,104-6-53-25-17
199,5496309607,4607860795,True,1593713956,1448,5214,3,7,22,80,6,152,88-66-126-39-67,34-74-62-90-120

**2. Once the file has imported, we need to remove (drop) duplicate rows, if there is any**

In [156]:
dota_matches = dota_matches.drop_duplicates("match_id")
dota_matches

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
0,5496093104,4607683105,True,1593702950,2260,5415,7,7,3,80,10,236,121-26-53-106-6,59-114-7-29-64
1,5496093106,4607692069,False,1593702953,2576,3962,4,7,22,80,7,122,34-41-121-35-104,60-42-126-128-7
2,5496093306,4607678647,True,1593702953,1950,3625,1,7,22,80,4,133,7-104-6-79-23,100-126-3-108-1
3,5496095704,4607694805,True,1593703058,2394,7223,3,7,22,80,6,138,22-86-10-69-5,81-66-106-21-120
4,5496102206,4607686366,True,1593703331,1967,5626,5,7,22,80,8,156,41-110-36-13-120,9-14-32-10-53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5496304611,4607870692,True,1593713670,2342,5070,2,7,22,80,4,182,126-120-128-6-7,101-98-110-75-44
96,5496305107,4607862926,False,1593713696,1857,5882,4,7,22,80,6,122,86-84-95-7-23,100-39-77-3-67
97,5496309100,4607863197,True,1593713921,1656,5660,4,7,3,80,8,236,101-15-2-79-95,62-13-56-70-28
98,5496309107,4607872508,False,1593713932,2205,5750,3,0,22,80,4,132,93-129-119-86-36,6-104-17-25-53
99,5496309607,4607860795,True,1593713956,1448,5214,3,7,22,80,6,152,88-67-39-126-66,34-120-90-62-74

**3. Make the Â´radiant_teamÂ´ & Â´dire_teamÂ´ into lists instead of strings**

In [169]:

def make_string_list_team_combos(dataframe):
    if len(dataframe["radiant_team"][0]) != 5:
        radiant_team = []
        dire_team = []
        new_dataframe = dataframe
        for cell in new_dataframe["radiant_team"]:
            data = cell.replace("-", ",")
            data = data.split(",")
            radiant_team.append(data)
        for cell in new_dataframe["dire_team"]:
            data = cell.replace("-", ",")
            data = data.split(",")
            dire_team.append(data)
        new_dataframe["radiant_team"] = radiant_team
        new_dataframe["dire_team"] = dire_team
        return new_dataframe
    else:
        return dataframe
    
dota_matches = make_string_list_team_combos(dota_matches)
dota_matches

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
0,5496093104,4607683105,True,1593702950,2260,5415,7,7,3,80,10,236,"[121, 26, 53, 106, 6]","[59, 114, 7, 29, 64]"
1,5496093106,4607692069,False,1593702953,2576,3962,4,7,22,80,7,122,"[34, 41, 121, 35, 104]","[60, 42, 126, 128, 7]"
2,5496093306,4607678647,True,1593702953,1950,3625,1,7,22,80,4,133,"[7, 104, 6, 79, 23]","[100, 126, 3, 108, 1]"
3,5496095704,4607694805,True,1593703058,2394,7223,3,7,22,80,6,138,"[22, 86, 10, 69, 5]","[81, 66, 106, 21, 120]"
4,5496102206,4607686366,True,1593703331,1967,5626,5,7,22,80,8,156,"[41, 110, 36, 13, 120]","[9, 14, 32, 10, 53]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5496304611,4607870692,True,1593713670,2342,5070,2,7,22,80,4,182,"[126, 120, 128, 6, 7]","[101, 98, 110, 75, 44]"
96,5496305107,4607862926,False,1593713696,1857,5882,4,7,22,80,6,122,"[86, 84, 95, 7, 23]","[100, 39, 77, 3, 67]"
97,5496309100,4607863197,True,1593713921,1656,5660,4,7,3,80,8,236,"[101, 15, 2, 79, 95]","[62, 13, 56, 70, 28]"
98,5496309107,4607872508,False,1593713932,2205,5750,3,0,22,80,4,132,"[93, 129, 119, 86, 36]","[6, 104, 17, 25, 53]"
99,5496309607,4607860795,True,1593713956,1448,5214,3,7,22,80,6,152,"[88, 67, 39, 126, 66]","[34, 120, 90, 62, 74]"

**4. Start filtering the data into MMR brackets**

In [170]:
brackets = [4000, 4500, 5000, 5500, 6000]

def bracket_separator(dataframe,brackets):
    dota_matches_dataframes_list = []
    for bracket in brackets:
        data = dataframe.loc[(dataframe["avg_mmr"] >= bracket) & (dataframe["avg_mmr"] < bracket+500)]
        dota_matches_dataframes_list.append(data)
    return dota_matches_dataframes_list

In [171]:
a, b, c, d, e = bracket_separator(dota_matches,brackets)

In [172]:
a

,match_id,match_seq_num,radiant_win,start_time,duration,avg_mmr,num_mmr,lobby_type,game_mode,avg_rank_tier,num_rank_tier,cluster,radiant_team,dire_team
7,5496108109,4607683671,True,1593703589,1600,4441,3,7,22,80,6,155,"[119, 20, 36, 4, 87]","[9, 32, 84, 104, 106]"
24,5496156111,4607729410,False,1593705708,1654,4483,2,7,22,80,2,184,"[74, 120, 20, 100, 1]","[107, 126, 30, 103, 114]"
47,5496213004,4607786437,False,1593708535,1998,4481,4,7,22,80,5,135,"[32, 34, 50, 29, 101]","[61, 39, 89, 16, 21]"
53,5496221102,4607787212,False,1593708955,1822,4450,4,7,22,80,9,134,"[39, 36, 83, 41, 21]","[9, 96, 74, 70, 3]"
59,5496228319,4607781981,True,1593709323,1450,4165,4,7,22,80,6,192,"[64, 92, 105, 51, 8]","[23, 109, 2, 110, 112]"
66,5496239514,4607811797,True,1593709876,2356,4497,3,7,22,80,5,251,"[113, 114, 16, 20, 86]","[70, 5, 62, 17, 7]"
75,5496257114,4607818958,True,1593711034,1693,4283,2,7,22,80,2,134,"[56, 39, 42, 110, 64]","[119, 54, 62, 31, 126]"
80,5496269319,4607826591,True,1593711645,1541,4228,1,7,22,80,6,153,"[8, 39, 126, 5, 38]","[90, 108, 70, 83, 25]"
83,5496278312,4607843654,False,1593712133,2153,4205,5,7,22,80,5,131,"[7, 11, 84, 51, 10]","[121, 64, 6, 104, 9]"
92,5496299307,4607869769,False,1593713359,2661,4078,3,7,22,80,5,156,"[94, 128, 64, 114, 120]","[21, 23, 56, 67, 22]"

In [112]:


#for string in test_list:
#    test_list = string.split(",")
#
#test_list

['119', '20', '36', '4', '87']
['74', '120', '20', '100', '1']
['32', '34', '50', '29', '101']
['39', '36', '83', '41', '21']
['64', '92', '105', '51', '8']
['113', '114', '16', '20', '86']
['56', '39', '42', '110', '64']
['8', '39', '126', '5', '38']
['7', '11', '84', '51', '10']
['94', '128', '64', '114', '120']